@media (max-width: 768px) {
    .nav{
        justify-content: space-between;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        z-index: 9;
        display: none;
        padding: 10px 0;
    }

    .nav-links li {
      margin: 10px 0;
    }

    .hamburger.active + .nav-links {
      display: flex;
  }

    .nav-links.active {
        display: flex;
      }
    
      .hamburger {
        display: flex;
      }

      #datetime {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 0.9em;
    }
}