@media (max-width: 768px) {
  .nav {
    justify-content: space-between;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: right 0.3s ease-in-out;
    z-index: 9;
  }

  .logo {
    margin-left: 10px;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links a {
    font-size: 20px;
    margin: 15px 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .content-section {
    padding: 50px 10px;
    font-size: 10;
  }

  .content-section h2 {
    font-size: 2em;
  }

  .contact-section h2{
    font-size: 2em;
  }

  .section-title {
    font-size: 2em;
  }

  .content-section h3 {
    font-size: 1em;
    padding-left: 5px;
  }

  .line-below {
    margin-bottom: 15px;
  }

  .photo-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .center-photo,
  .right-photo {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .photo-text,
  .right-text {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 10;
  }

  .left-text p,
  .right-text p {
    padding: 10px;
    font-size: 10;
  }

  .otherinfo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 10;
  }

  .info-photo {
    width: 80%;
    margin: 10px auto;
    font-size: 10;
  }

  .info-text {
    padding: 10px;
    font-size: 10;
  }

  .otherinfo h3 {
    padding-left: 0;
    font-size: 1em;
  }

  .contact-info h3 {
    font-size: 1.8rem;
  }

  .contact-info p {
    font-size: 1rem;
  }

  .social-media a {
    font-size: 1.5rem;
  }

  .line-separator {
    width: 50%;
  }

  .logo2 {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav-links2 {
    flex-direction: column; 
    gap: 20px; 
    margin-left: 0; 
  }

  .nav-links2 a {
    font-size: 12px;
  }

  .heartheader {
    top: 50px; 
    padding: 5px;
  }

  .logopic {
    width: 40px; 
    padding-right: 30%;
  }

  .photo {
    padding-top: 80%;
    margin: 0 10px; 
  }

  .heartinfo, .iconic, .afford, .practicality {
    margin-left: 20px;
    margin-right: 20px;
  }

  .heartinfo h1, .iconic h1, .afford h1, .practicality h1 {
    font-size: 150%; 
  }

  .heartinfo p, .iconic p, .afford p, .practicality p {
    font-size: 100%; 
  }
}

@media (max-width: 767px) {
  .contact-info h3 {
    font-size: 1.5rem;
  }

  .contact-info p {
    font-size: 0.9rem;
  }

  .social-media a {
    font-size: 1.2rem;
    margin: 0 5px;
  }

  .line-separator {
    width: 80%;
  }
}
